@function vwcalc($value, $base-value: 1920) {
  @return $value / ($base-value * 0.01) * 1 * 1vw;
}

@mixin imgObjectFit {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}